<% include partials/admin_head.ejs %>
<% include partials/admin_header.ejs %>
<% include partials/adminNavigation.ejs %>
<form action="/create" method="POST">
    <h1>Create new user</h1>
    <div class="form_inputGroup">
        <label for="createForm_username">Brugernavn</label>
        <input type="text" name="username" id="createForm_navn" value="<%= (typeof username != 'undefined') ? username : '' %>">
    </div>
    <div class="form_inputGroup">
        <label for="createForm_passphrase">Kodeord</label>
        <input type="passphrase" name="passphrase" id="createForm_passphrase" value="<%= (typeof passphrase != 'undefined') ? passphrase : '' %>">
    </div>
    <button type="submit">Send</button>
</form>
<p class="form_p"><%= (typeof errorMessage != 'undefined') ? errorMessage : '' %></p>
<% include partials/admin_footer.ejs %>
<% include partials/admin_after-footer.ejs %>