<% include partials/admin_head.ejs %>
<% include partials/admin_header.ejs %>
<% include partials/adminNavigation.ejs %>
<main>
    <h1>hej med dig jeg hedder Kaj</h1>
    <ul><i class="fas fa-plus-square"></i>
        <li><i class="far fa-edit"></i><i class="fas fa-trash-alt"></i></li>
        <li><i class="far fa-edit"></i><i class="fas fa-trash-alt"></i></li>
        <li><i class="far fa-edit"></i><i class="fas fa-trash-alt"></i></li>
        <li><i class="far fa-edit"></i><i class="fas fa-trash-alt"></i></li>
    </ul> 
</main>
<% include partials/admin_footer.ejs %>
<% include partials/admin_after-footer.ejs %>