<% include partials/admin_head.ejs %>
<% include partials/admin_header.ejs %>
<% include partials/adminNavigation.ejs %>
<main>
    <h1>Velkommen til admin panelet</h1>
</main>
<% include partials/admin_footer.ejs %>
<% include partials/admin_after-footer.ejs %>