<nav id="HovedMenu" class="primaryNavigation" role="navigation">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<button class="dropdown-btn">Pages
	</button>
	  <div class="dropdown-container">
			<a href="/opg21">opgave 2.1</a>
	  </div>
	<button class="dropdown-btn">Products
	</button>
	  <div class="dropdown-container">
			<a href="/opg31">opgave 3.1</a>
	  </div>
	<button class="dropdown-btn">Profile 
	</button>
	  <div class="dropdown-container">
			<a href="/signup">Sign up</a>
			<a href="/login">login</a>
			<a href="/logout">Logout</a>
	  </div>
</nav>
<span id="MenuBurger" onclick="openNav()">&#9776;</span>