<nav id="HovedMenu" class="primaryNavigation" role="navigation">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<button class="dropdown-btn">Opgave 2
	  </button>
	  <div class="dropdown-container">
		<a href="/opg21">opgave 2.1</a>
		<a href="/opg22">opgave 2.2</a>
		<a href="/opg23">opgave 2.3</a>
		<a href="/opg24">opgave 2.4</a>
		<a href="/opg25">opgave 2.5</a>
		<a href="/opg26">opgave 2.6</a>
		<a href="/opg27">opgave 2.7</a>
		<a href="/opg28">opgave 2.8</a>
		<a href="/opg29">opgave 2.9</a>
		<a href="/opg20">opgave 2.10</a>
	  </div>
	<button class="dropdown-btn">Opgave 3
	  </button>
	  <div class="dropdown-container">
		<a href="/opg31">opgave 3.1</a>
	  </div>
	<button class="dropdown-btn">Opgave 4 
	  </button>
	  <div class="dropdown-container">
		<a href="/opg41">opgave 4.1</a>
		<a href="/opg42">opgave 4.2</a>
		<a href="/opg43">opgave 4.3</a>
		<a href="/opg44">opgave 4.4</a>
		<a href="/opg45">opgave 4.5</a>
		<a href="/opg46">opgave 4.6</a>
		<a href="/opg47">opgave 4.7</a>
		<a href="/opg48">opgave 4.8</a>
		<a href="/opg49">opgave 4.9</a>
		<a href="/opg40">opgave 4.10</a>
	  </div>
	<button class="dropdown-btn">Opgave 5 
	  </button>
	  <div class="dropdown-container">
		<a href="/opg51">opgave 5.1</a>

	  </div>
	<button class="dropdown-btn">Opgave 6 
	  </button>
	  <div class="dropdown-container">
		<a href="/opg61">opgave 6.1</a>
		<a href="/opg62">opgave 6.2</a>
		<a href="/opg63">opgave 6.3</a>
		<a href="/opg64">opgave 6.4</a>
		<a href="/opg65">opgave 6.5</a>
		<a href="/opg66">opgave 6.6</a>

	  </div>
</nav>
<span id="MenuBurger" onclick="openNav()">&#9776;</span>