<nav id="adminMenu" class="adminNavigation" role="navigation">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<button class="dropdown-btn">Users
	</button>
	  <div class="dropdown-container">
			<a href="/admin/users">Edit users</a>
	  </div>
	<button class="dropdown-btn">Sites
	</button>
	  <div class="dropdown-container">
			<a href="/">Products</a>
	  </div>
	<button class="dropdown-btn">New
	</button>
	  <div class="dropdown-container">
			<a href="/"></a>
			<a href="/"></a>
			<a href="/"></a>
			<a href="/"></a>
	  </div>
	<button class="dropdown-btn">Else 
	</button>
	  <div class="dropdown-container">
			<a href="/"></a>
	  </div>
</nav>
<span id="MenuBurger" onclick="openNav()">&#9776;</span>