<nav id="adminMenu" class="adminNavigation" role="navigation">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<button class="dropdown-btn"><i class="far fa-user"></i> Users
	</button>
	  <div class="dropdown-container">
			<a href="/admin/admin.users">Edit users</a>
	  </div>
	<button class="dropdown-btn"><i class="fas fa-sitemap"></i> Sites
	</button>
	  <div class="dropdown-container">
			<a href="/admin/admin.sites"></a>
	  </div>
	<button class="dropdown-btn"><i class="fas fa-shopping-cart"></i> Products
	</button>
	  <div class="dropdown-container">
			<a href="/"></a>
			<a href="/"></a>
			<a href="/"></a>
			<a href="/"></a>
	  </div>
	<button class="dropdown-btn"><i class="fas fa-feather"></i> Else 
	</button>
	  <div class="dropdown-container">
			<a href="/"></a>
	  </div>
</nav>
<span id="MenuBurger" onclick="openNav()">&#9776;</span>